{% extends "SocialTrackerApplicationBundle::Application/layout.html.twig" %}

{% block title %}Facebook{% endblock %}

{% block content %}
    {% if feeds is defined %}
        {# 
            Type of feed :
                / Video
                    - Status_type
                        - shared_story
                        - added_video
                / Status 
                / Photos
                    tagged_in_photo
                / Link
                - Page
                - Note
                - Group
        #}
        {% for feed in feeds.data %}
            {% set picture = attribute(userCovers, feed.from.id) %}
            {#
                Status
            #}
            {% if feed.type == 'status' and feed.story is not defined %}
                <div class='row facebook-feed'>
                    <div class="media facebook-status">
                        <a href="#" class="media-left">
                            <img alt="{{feed.from.name}}" class="img-circle avatar" src="{{picture.picture.data.url}}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{feed.from.name}}{% if feed.to is defined %}<small> <i class="fa fa-hand-o-right"></i> {{feed.to.data.0.name}} </small>{% endif %}</h4>
                            
                            {% if feed.message is defined %}
                                <p>{{feed.message}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                </div>
            {#
                Video
            #}
            {% elseif feed.type == 'video' %}
                <div class='row facebook-feed'>
                    <div class="media facebook-video">
                        <a href="#" class="media-left">
                            <img alt="{{feed.from.name}}" class="img-circle avatar" src="{{picture.picture.data.url}}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{feed.from.name}}</h4>
                            <img class='facebook-video-picture img-thumbnail' src="{{feed.picture}}" width='200' data-video='{{feed.source}}'>
                            {% if feed.description is defined %}<p>{{feed.description}}</p>{% endif %}
                        </div>
                    </div>
                    <hr>
                </div>
            {#
                Photo
            #}
            {% elseif feed.type == 'photo' %}
                <div class='row facebook-feed'>
                    <div class='media facebook-photo'>
                        <a href="#" class='media-left'>
                            <img alt='{{feed.from.name}}' class='img-circle avatar' src="{{picture.picture.data.url}}">
                        </a>
                        <div class='media-body'>
                            <h4 class='media-heading'>{{feed.from.name}}
                                {% if feed.status_type is defined and feed.status_type == 'tagged_in_photo' %}
                                    <small><i class="fa fa-tag"></i>{% set user = attribute(feed.story_tags, feed.story_tags.0[0].length + 15)%} Identifié sur la photo de {{user[0].name}}</small>
                                {% elseif feed.status_type is defined and feed.status_type == 'added_photos' %}
                                    <small><i class='fa fa-plus'></i> A ajouté une photo</small>
                                {% endif %}
                            </h4>
                            <div>
                                <img src="{{feed.picture}}" class='img-rounded'>
                            </div>
                            {% if feed.description is defined %}<p>{{feed.description}}</p>{% endif %}
                            {% if feed.message is defined %}<p>{{feed.message}}</p>{% endif %}
                        </div>
                    </div>
                    <hr>
                </div>
            {% elseif feed.type == 'link' and feed.picture is defined %}
                <div class='row facebook-feed'>
                    <div class='media facebook-link'>
                        <a href="#" class='media-left'>
                            <img alt='{{feed.from.name}}' class='img-circle avatar' src="{{picture.picture.data.url}}">
                        </a>
                        <div class='media-body'>
                            <h4 class='media-heading'>{{feed.from.name}}
                            </h4>
                            <div>
                                <a href="{{feed.link}}"><img src="{{feed.picture}}"></a>
                            </div>
                            <div class='info'>
                                <h5>{% if feed.message is defined %}<p>{{feed.message}}</p>{% endif %}</h5>
                                {% if feed.description is defined %}<p>{{feed.description}}</p>{% endif %}
                            </div>

                        </div>
                    </div>

                </div>
            {% else %}

            {% endif %}
        {% endfor %}

        {% for feed in feeds.data %}
            {% if feed.type == 'link' %}
                {{dump(feed)}}
            {% endif %}
        {% endfor %}

    {% else %}
        <div class="alert alert-info" role="alert">
            Vous n'êtes pas connecté a Facebook. Veuillez <a href="{{path('application_settings')}}" class="alert-link">vous connecter</a> !
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="/assets/js/module/ajaxClass.js"></script>
    <script src="/assets/js/module/facebookClass.js"></script>

    <script src="/assets/js/pageScript/facebook.js"></script>
{% endblock %}