{% extends "SocialTrackerApplicationBundle::Application/layout.html.twig" %}

{% block title %}Réglages{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status des réseaux sociaux</h3>
                </div>
                <div class="panel-body">
                    <!-- Modal Activation -->
                    <div id='modal-active' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Activer Reseau Social</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Voulez-vous activer</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                    <button type="button" class="btn btn-primary submit">Oui</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal Activation -->
                    <table class="table" id="table-social">
                        <tr>
                            <th></th>
                            <th>Réseau Social</th>
                            <th>Désactiver</i></th>
                            <th>Status</th>
                            <th>Nom d'utilisateur</th>
                        </tr>

                        <!-- Instagram -->
                        <tr class='instagram'>
                            <td class='logo'><i class='fa fa-instagram fa-lg'></i></td>
                            <td><strong>Instagram</strong></td>
                            {% if userSettings.instagram['access_token'] is not null %}
                                <td><i data-social="instagram" data-action="desactivate" class="fa fa-times fa-lg brand-danger open-active-modal"></i></td>
                                <td>
                                    <span class='label label-success connect' data-social='instagram'>Connecté</span>
                                </td>
                                <td>{{userSettings.instagram.username}}</td>
                            {% else %}
                                <td><i class="fa fa-times fa-lg brand-default"></i></td>
                                <td><span class='label label-default disconnect' data-social='instagram'><a href="{{instagramUrl}}">Déconnecté</a></span></td>
                                <td></td>
                            {% endif %}
                        </tr>
                        <!-- Facebook -->
                        <tr class='facebook'>
                            <td class='logo'><i class='fa fa-facebook fa-lg'></td>
                            <td><strong>Facebook</strong></td>
                            {% if userSettings.facebook['access_token'] is not null %}
                                <td><i data-social="facebook" data-action="desactivate" class="fa fa-times fa-lg brand-danger open-active-modal"></i></td>
                                <td>
                                    <span class='label label-success connect' data-social='facebook'>Connecté</span>
                                </td>
                                <td>{{userSettings.facebook.username}}</td>
                            {% else %}
                                <td><i class="fa fa-times fa-lg brand-default"></i></td>
                                <td><span class='label label-default disconnect'><a href="{{facebookUrl}}">Déconnecté</a></span></td>
                                <td></td>
                            {% endif %}
                        </tr>
                        <!-- Youtube -->
                        <tr class='youtube'>
                            <td class='logo'><i class='fa fa-youtube fa-lg'></td>
                            <td><strong>Youtube</strong></td>
                            {% if userSettings.youtube['access_token'] is not null %}
                                <td><i data-social="youtube" data-action="desactivate" class="fa fa-times fa-lg brand-danger open-active-modal"></i></td>
                                <td>
                                    <span class='label label-success connect' data-social='youtube'>Connecté</span>
                                </td>
                                <td>{{userSettings.youtube.username}}</td>
                            {% else %}
                                <td><i class="fa fa-times fa-lg brand-default"></i></td>
                                <td><span class='label label-default disconnect'><a href="{{youtubeUrl}}">Déconnecté</a></span></td>
                                <td></td>
                            {% endif %}
                        </tr>
                        {#}
                        <!-- Twitter -->
                        <tr class='twitter {% if 'twitter' not in activeSocials %}active{% endif %}'>
                            <td class='logo'><i class='fa fa-twitter fa-lg'></td>
                            <td><strong>Twitter</strong></td>
                            {% if 'twitter' in activeSocials %}
                                <td><i data-social="twitter" data-action="desactivate" class="fa fa-check fa-lg brand-success open-active-modal"></i></td>
                                <td><span class='label label-default disconnect' data-social='twitter'>Déconnecté</span></td>
                                <td>@FnK</td>
                            {% else %}
                                <td><i data-social="twitter" data-action="activate" class="fa fa-times fa-lg brand-danger open-active-modal"></i></td>
                                <td></td>
                                <td></td>
                            {% endif %}                            
                        </tr>
                        #}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Changement de mot de passe</h3>
                </div>
                <div class="panel-body">
                    <form action='{{path('update_password', {id: app.user.id})}}' method='post' class='text-center'>
                        <span class="col-md-4 input input--hoshi">
                            {{ form_widget(changePasswordForm.old_password, {attr: {'class': 'input__field input__field--hoshi letter-spacing-10'}}) }}
                            <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="{{ changePasswordForm.old_password.vars.id }}">
                                <span class="input__label-content input__label-content--hoshi">Mot de passe actuel</span>
                            </label>
                        </span>
                        <span class="col-md-4 input input--hoshi">
                            {{ form_widget(changePasswordForm.password.first, {attr: {'class': 'input__field input__field--hoshi letter-spacing-10'}}) }}
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="{{ changePasswordForm.password.first.vars.id }}">
                                <span class="input__label-content input__label-content--hoshi">Nouveau mot de passe</span>
                            </label>
                        </span>
                        <span class="col-md-4 input input--hoshi">
                            {{ form_widget(changePasswordForm.password.second, {attr: {'class': 'input__field input__field--hoshi letter-spacing-10'}}) }}
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="{{ changePasswordForm.password.second.vars.id }}">
                                <span class="input__label-content input__label-content--hoshi">Confirmer</span>
                            </label>
                        </span>
                        {{form_widget(changePasswordForm)}}
                        <input type='submit' class='btn btn-info'>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sécurité avancée</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <label for='activate_totp'>Activer la sécurité Totp</label>
                        <input type='checkbox' id='activate_totp' {{ app.user.googleAuthenticatorSecret ? 'checked' : '' }}>
                    </div>
                    <div class="totp-options">
                        {% if app.user.googleAuthenticatorSecret %}
                            <div class="col-md-6 col-sm-12 col-xs-12 pull-left">
                                <img src="{{ totpUrl }}" alt='QR code' class='img-responsive totp_qr'>
                            </div>
                            <div></div>
                        {% endif %}   
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %} 

{% block script %}
    <script>
        
    </script>
    <script src="/assets/js/module/ajaxClass.js"></script>
    <script src="/assets/js/module/instagramClass.js"></script>

    <script src="/assets/js/pageScript/settings.js"></script>
    <script src="/assets/js/tools/classie.js"></script>
    <script>
        var totpActivateUrl = "{{ path('activate_totp', {id: app.user.id}) }}";
        var totpDesactivateUrl = "{{ path('desactivate_totp', {id: app.user.id}) }}";

         (function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }
            [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                // in case the input is already filled..
                if( inputEl.value.trim() !== '' ) {
                    classie.add( inputEl.parentNode, 'input--filled' );
                }
                // events:
                inputEl.addEventListener( 'focus', onInputFocus );
                inputEl.addEventListener( 'blur', onInputBlur );
            } );
            function onInputFocus( ev ) {
                classie.add( ev.target.parentNode, 'input--filled' );
            }
            function onInputBlur( ev ) {
                if( ev.target.value.trim() === '' ) {
                    classie.remove( ev.target.parentNode, 'input--filled' );
                }
            }
        })();
    </script>
{% endblock %}